@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 375px) {
  .container {
    background: #1c1a19;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    background: #3c3a39;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
  }

  nav img {
    width: 18px;
    height: 12px;
  }

  main {
    padding: 0 24px;
    background-image: url("images/Group.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 68vh;
  }

  h1 {
    margin-top: 120px;
    max-width: 327px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .profession,
  .skill,
  .social {
    margin-top: 12px;
  }

  .proffession {
    font-family: "Roboto", sans-serif;
    color: #fff5e1;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .skill {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }

  .social ul {
    list-style: none;
    padding-left: 12px;
    display: flex;
    gap: 14px;
    margin-bottom: 80px;
  }
}
